<!DOCTYPE html>
<html lang="en">
<head>
    <title>MusMix</title>
    <link rel="stylesheet" href="./register.component.css">
    <script>
        async function register(event){
            event.preventDefault(); 

            const username = document.getElementById('uname').value;
            const password = document.getElementById('pwd').value;
            const confirmpassword = document.getElementById('conpwd').value;

            if(password === confirmpassword){
                const response = await fetch('http://127.0.0.1:5000/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, password })
                });
                
                if (response.ok) {
                    alert('Register successful!');
                } else {
                    alert('Register failed.');
                }

                console.error('Error:', error);
            }else {
                alert('Password and Confirm Password do not match');
            }
        }
    </script>
</head>
<body>
    <h1>Join the MusMix Family Today</h1>
    <div class="pill-buttons">
        @for (item of [ 
            {title: 'Home', link: '/'},
            {title: 'Feedback', link : 'https://forms.gle/oxMmEFYvoNmmER4R9'}
        ]; track item.title) {
            <a
                class="pill"
                [href]="item.link"
                rel="noopener"
            >
                <span>{{item.title}}</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="2vh"
                    viewBox="0 -960 960 960"
                    width="2vw"
                    fill="currentColor"
                >
                    <path
                        d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
                    />
                </svg>
            </a>
        }
    </div>
    <div class="input-field">
        <form action="/action_page.php">
            <div class="uname-field">
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname">
            </div>
            <div class="pwd-field">
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd">
            </div>
            <div class="conpwd-field">
                <label for="conpwd">Confirm Password:</label>
                <input type="password" id="conpwd" name="conpwd">
            </div>
            <div class="submit-field">
                <input type="submit" value="Register" onclick="register(event)">
            </div>
        </form>
    </div>
    <div class="pill-buttons">
        @for (item of [ 
            {title: 'Back To Login', link: '/login'},
        ]; track item.title) {
            <a
                class="pill"
                [href]="item.link"
                rel="noopener"
            >
                <span>{{item.title}}</span>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="2vh"
                    viewBox="0 -960 960 960"
                    width="2vw"
                    fill="currentColor"
                >
                    <path
                        d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"
                    />
                </svg>
            </a>
        }
    </div>
</body>
</html>

<router-outlet></router-outlet>
