<!DOCTYPE html>
<html lang="en">
<head>
    <title>MusMix</title>
    <link rel="stylesheet" href="./register.component.css">
</head>
<body>
    <h1>Join the MusMix Family Today</h1>
    <div class="pill-buttons">
        <!-- @for (item of [ 

            {title: 'Feedback', link: 'https://forms.gle/oxMmEFYvoNmmER4R9'},
            {title: 'Login', link: '/login'},
        ]; track item.title) { -->
        <a class="pill" href="/MusMix/" rel="noopener">
            <span>Home</span>
        </a>
        <a class="pill" href="https://forms.gle/oxMmEFYvoNmmER4R9" target="_blank" rel="noopener">
            <span>Feedback</span>
        </a>
    </div>
    <div class="input-field">
        <form (submit)="register($event)">
            <div class="uname-field">
                <label for="uname">Username:</label>
                <input type="text" id="uname" name="uname">
            </div>
            <div class="pwd-field">
                <label for="pwd">Password:</label>
                <input type="password" id="pwd" name="pwd">
            </div>
            <div class="conpwd-field">
                <label for="conpwd">Confirm Password:</label>
                <input type="password" id="conpwd" name="conpwd">
            </div>
            <div class="submit-field">
                <input type="submit" value="Register" onclick="register(event)">
            </div>
        </form>
    </div>
    <div class="pill-buttons">
        <!-- @for (item of [ 

            {title: 'Feedback', link: 'https://forms.gle/oxMmEFYvoNmmER4R9'},
            {title: 'Login', link: '/login'},
        ]; track item.title) { -->
        <a class="pill" href="/MusMix/login" rel="noopener">
            <span>Back to Login</span>
        </a>
    </div>
</body>
</html>

<router-outlet></router-outlet>